<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Picky Reader's Club</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=Antic+Slab&family=Cinzel:wght@400;700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
    <nav class="navbar-custom navbar navbar-expand-lg">
        <a class="navbar-brand" href="/">Picky Reader's Club</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="/index">Books</a>
            <% if(!currentUser){ %>
                    <a class="nav-item nav-link" href="/register">Sign Up</a>
                    <a class="nav-item nav-link" href="/login">Login</a>            
          <%  }  else { %>
                <li class="nav-item nav-link">You are logged in as <%= currentUser.username %></li>
                <a class="nav-item nav-link" href="/logout">Log Out</a>
          <%  } %>

          </div>
        </div>
      </nav>
      <div class="container">
        <% if(error && error.length > 0){ %>
        <div class="alert alert-danger" role="alert">
          <%= error %>    
         </div>
         <% } %>
         <% if(success && success.length > 0){ %>
        <div class="alert alert-success" role="alert">
          <%= success %>   
         </div>   
         <% } %>
      </div>
      