<!-- <%- include("./partials/header") %> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Picky Reader's Club</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&family=Roboto+Mono:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="stylesheets/landing.css">
</head>
<body>
    <div class="container text-center content">
        <hr>
        <h1>Welcome to the picky reader's club</h1>
        <hr>
    <p>The Picky Reader's Club is a community created to unite readers who have a hard time reading.</p> 
    <div class="text-center"><a href="/index"><button class="btn btn-lg btn-outline-light">Get Started!</button></a>
    </div>
</div>


<%- include("./partials/footer") %>
